<%- include('./header.ejs')   %>

<div class="container-fluid bg-success ">
  <br><br>
<div class="container py-5">
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-10">
    <div class="card">
      <div class="row">
        <div class="col-md-6 col-lg-6 d-none d-md-block ">
          <img src="https://cdn-icons-png.flaticon.com/512/6195/6195699.png"
            alt="login form" class="img-fluid mt-5"  />
        </div>
        <div class="col-md-6 align-items-center ">
          <div class="card-body bg-dark">
            <div class=" align-items-center mb-3 pb-1 text-white">
              <img src="/img/logo.png" alt=""
              class="img-fluid"
              style="width: 30px; height: 30px"
            />
              <h2 class="text-success text-center m-0 px-3 animated infinite heartBeat weblogo">
                BROAKER PORTAL
              </h2>
            </div>
            <h5 class="mb-3 pb-3 text-white" style="letter-spacing: 1px;">Change Admin account password</h5>
            <% if(message.length > 0 ){ %>
              <div class="alert alert-danger"><%= message %></div>
              <% } %>
            <form action="/adminchangepassword"  method="post">

              <div class="mb-4 text-white">
                <label class="form-label" >Old Password</label>
                <input type="text" name="old_password" class="form-control" />
                
              </div>

              <div class="mb-4 text-white">
                <label class="form-label" >Password</label>
                <input type="password" name="new_password" class="form-control " />
                
              </div>
              <div class="mb-4 text-white">
                <label class="form-label" >Conferm Password</label>
                <input type="password" name="cpassword" class="form-control " />
                
              </div>
              

              <div class="mb-4 text-center">
                <button type="submit" class="btn btn-success" >Update password</button>
              </div>
                <div class="text-center">
              <a class="text-white" href=""> ADMIN LOGIN </a>
              <p class="mb-3 text-white text-center" style="color: #393f81;">Only Admin Change password <a href=""class="text-success"></a></p>

              <a href="#!" class="small text-muted">Terms of use.</a>
              <a href="#!" class="small text-muted">Privacy policy</a>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>

</div>

<%- include('./footer.ejs')   %>














