    <!--footer start-->

    <div class="container-fluid footer ">
        <div class="container foot_con">
          <div class="row foot_row">
            <div class=" col-md-3 footer-col">
                <h4>Broaker Portal</h4>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">contact</a></li>
                  <li><a href="#">Property</a></li>
                  <li><a href="#">Add</a></li>
                </ul>
            </div>
          <div class="col-md-3 footer-col">
                <h4 style="margin-left: 40px;">Our Services</h4>
                <ul>
                  <li><a href="#">Room For Rent</a></li>
                   <li><a href="#">Flat Booking</a></li>
                    <li><a href="#">Appartment</a></li>
                     <li><a href="#">Single Room</a></li>
                      <li><a href="#">P.G</a></li>
                      <li><a href="#">office</a></li>
                </ul>
            </div>
            <div class="footer-col text-white">
                <h4>Contact us</h4>
                <p>Banda(U.P)
                <p>vishwas</p>
                <p>8400258085</p>
            </div>
            <div class="col-md-3 footer-col">
               <h4>Follow us</h4>
               <div class="social-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
               </div>
           </div>   
        </div>
      </div>
      
      </div><!-- footer end-->
      <div class="container-fluid text-center lastfoot ">
          <div class="container">
            <div class="row">
             <h6 class="py"><br>&nbsp;Copyright © Designed by:<b style="color:#ff9307;">&nbsp;Vishwas Gupta</b>
                  </a> All right reserved.<br><br></h6>
            </div>
          </div>
      </div>
   <!-------footer end----->


   <script src=" https://smtpjs.com/v3/smtp.js">

   </script>